%h1 Documentation:
%h2
	Vibram KSO Size Conversion
%p
	Our first service does shoe size conversion, for the Vibram FiveFingers KSO. Don't understand its utility? You have self-identified as outside the target audience. Our service uses generic US -> European conversion.
%p 
	Usage: http://vibramconverter.heroku.com/convert/{inch}/{fraction}/{gender}.xml 
%p
	Where {inch} and {fraction} correspond to the size of your feet and {gender} is "male" or "female"
%p
	E.g. for my 10.5 inch feet: 
	= link_to 'http://vibramconverter.heroku.com/convert/10/5/male.xml', 'http://vibramconverter.heroku.com/convert/10/5/male.xml'
%p
	For convenience, you can drop the .xml for a traditional html response
%p
	See
	= link_to 'this', '/vibram/parse.xml' 
	for the XSD
%h2 Distance Calculator
%p 
	This service calculates a total distance given a list of provided GPS coordinates. 
%p 
	Usage: http://vibramconverter.heroku.com/coordinate_distance.xml?coords=[[latitude,longitude],...,[latitude,longitude]]
%p
	*Latitude and Longitude must be provided in decimal form
%p
	E.g: Distance from Kroger to Bodos to Boylan Heights:
	= link_to 'http://vibramconverter.heroku.com/coordinate_distance.xml?coords=[[38.05225,-78.499827],[38.035731,-78.501205],[38.034249,-78.499478]]', 'http://vibramconverter.heroku.com/coordinate_distance.xml?coords=[[38.05225,-78.499827],[38.035731,-78.501205],[38.034249,-78.499478]]'
	%br
	
%p
	See
	= link_to 'this', '/vibram/parse2.xml'
	for the XSD