%h1 Docs
%p 
	Usage: http://vibramconverter.heroku.com/vibram/convert/{inch}.{fraction}.xml 
%p
	Where {inch} and {fraction} correspond to the size of your feet.
%p
	E.g. for my 10.5 inch feet: http://vibramconverter.heroku.com/vibram/convert/10.5.xml
%p
	For convenience, you can drop the .xml for a traditional html response
%p
	See
	= link_to 'this', '/vibram/parse.xml' 
	for the XSD 
